.header-parent {
  transition: all 0.3s ease;
}
.header-parent .static-header-parent {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header-parent .static-header-parent .header-container {
  position: relative;
}
.header-parent .static-header-parent .header-container .top-header {
  width: 100%;
  position: absolute;
  z-index: 98;
  min-height: 80px;
  display: flex;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-right: 60px;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo {
  height: 28px;
  margin: 0;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container {
  display: none;
  height: 18px;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container {
  display: none;
  height: 18px;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line {
  width: 22px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header {
  padding: 25px !important;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile {
  visibility: hidden;
  position: absolute;
  z-index: 97;
  width: 100%;
  padding: 105px 25px 25px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-360px);
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container .link {
  color: #000;
  font-family: Fira Sans, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container .link .link {
  color: #000;
  font-family: Fira Sans, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container .link .link .sticky-header-parent {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
  transform: translateY(-120px);
  visibility: hidden;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container .link .link .sticky-header-parent .header-container {
  position: relative;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container .link .link .sticky-header-parent .header-container .top-header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 15px 50px;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container .link .link .sticky-header-parent .header-container .top-header .logo-wrapper {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-right: 60px;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container .link .link .sticky-header-parent .header-container .top-header .logo-wrapper .spots-logo {
  height: 28px;
  margin: 0;
}
.header-parent .static-header-parent .header-container .top-header .logo-wrapper .spots-logo .hamburger-menu-container .hamburger-menu-container .line .hamburger-menu-container .top-header .link-mobile .link-container .link .link .sticky-header-parent .header-container .top-header .logo-wrapper .spots-logo .link-container {
  width: 100%;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.sticky-header-parent {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
  transform: translateY(-120px);
  visibility: hidden;
}

.link {
  color: #000;
  font-family: Fira Sans, sans-serif;
  font-size: 13px;
  margin-right: 50px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sticky-header-parent {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
  transform: translateY(-120px);
  visibility: hidden;
}

.link-container {
  width: 100%;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.hamburger-menu-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.line {
  width: 22px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
}

.link-mobile {
  visibility: hidden;
  position: absolute;
  z-index: 97;
  width: 100%;
  padding: 105px 25px 25px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-360px);
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
}

.link-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.link {
  color: #000;
  font-family: Fira Sans, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.home-section-1-parent {
  position: relative;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%;
  height: calc(100vh + 50px);
  background-color: #f6f6f6;
  overflow: hidden;
}
.home-section-1-parent .background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.home-section-1-parent .background .bg-img-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.home-section-1-parent .background h1 {
  padding: 0;
  color: inherit;
  font-family: Fira Sans, sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
.home-section-1-parent .background .background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.home-section-1-parent .background .bg-img-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.home-section-1-parent .background .inner-container {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 150px;
}
.home-section-1-parent .background .inner-container .inner-container {
  padding: 0 120px;
}
.home-section-1-parent .background .inner-container .entry-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition: clip-path 0.5s ease;
  -moz-transition: clip-path 0.5s ease;
  -ms-transitionk: clip-path 0.5s ease;
  transition: -webkit-clip-path 0.5s ease;
  transition: clip-path 0.5s ease;
  transition: clip-path 0.5s ease, -webkit-clip-path 0.5s ease;
}
.home-section-1-parent .background .inner-container .entry-container .title {
  color: #000;
  font-family: Fira Sans, sans-serif;
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  max-width: 375px;
  margin-bottom: 30px;
  text-align: justify;
}
.home-section-1-parent .background .inner-container .entry-container .title .desc {
  font-size: 14px;
  line-height: 24px;
  font-family: Fira Sans, sans-serif;
  color: #646464;
  max-width: 375px;
  margin-bottom: 30px;
}
.home-section-1-parent .background .inner-container .entry-container .title .desc .part-text-logo {
  font-family: Fira Sans, sans-serif;
  color: #646464;
  font-size: 14px;
}
.home-section-1-parent .background .inner-container .entry-container .title .desc .ext-link {
  display: inline-block;
  vertical-align: top;
}

.home-section-2-parent {
  width: 100%;
  background-color: #f7f7f7;
}
.home-section-2-parent .inner-container {
  width: 100%;
  max-width: 1280px;
  transform: translateY(-50px);
  margin: 0 auto;
  padding: 0 50px;
}
.home-section-2-parent .inner-container .column-wrapper {
  background-color: #fff;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 20px 65px;
}
.home-section-2-parent .inner-container .column-wrapper .column-container {
  width: 33.33333333%;
  padding: 20px 35px;
}
.home-section-2-parent .inner-container .column-wrapper .column-container .title {
  margin: 0 0 10px;
  font-family: Fira Sans, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  width: 100%;
  line-height: 34px;
}
.home-section-2-parent .inner-container .column-wrapper .column-container .title .no-wrap {
  white-space: nowrap;
}
.home-section-2-parent .inner-container .column-wrapper .column-container .title .no-wrap .desc {
  font-size: 14px;
  color: #646464;
  max-width: 270px;
  line-height: 24px;
  width: 100%;
}
.home-section-2-parent .inner-container .column-wrapper .column-container .title .no-wrap .desc .icon {
  height: 55px;
  margin-bottom: 15px;
}
.home-section-2-parent .inner-container .column-wrapper .column-container .title .no-wrap .desc .icon .column-container {
  width: 33.33333333%;
  padding: 20px 35px;
}
.home-section-2-parent .inner-container .column-wrapper .column-container .title .no-wrap .desc .icon .column-container .icon {
  height: 55px;
  margin-bottom: 15px;
}

.home-section-3-parent {
  width: 100%;
  background-color: #f7f7f7;
  position: relative;
}
.home-section-3-parent .inner-container {
  position: relative;
  z-index: 4;
  padding: 70px 80px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.home-section-3-parent .inner-container .column-container {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 50%;
}
.home-section-3-parent .inner-container .column-container .right {
  padding-left: 100px;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.home-section-3-parent .inner-container .column-container .right .left {
  padding-right: 45px;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container {
  position: relative;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image {
  height: 480px;
  position: relative;
  z-index: 3;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament {
  top: 210px;
  left: 25px;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament {
  position: absolute;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img {
  transform: translate(-50%, -50%);
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img .red-ornament {
  top: 400px;
  right: -140px;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img .red-ornament .ornament-img {
  transform: translate(-50%, -50%);
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img .red-ornament .ornament-img .yellow-ornament {
  top: 30px;
  right: -110px;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img .red-ornament .ornament-img .yellow-ornament .green-ornament {
  top: 240px;
  left: -30px;
  z-index: 2;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img .red-ornament .ornament-img .yellow-ornament .green-ornament .title {
  font-family: Fira Sans, sans-serif;
  color: #000;
  font-weight: 500;
  max-width: 290px;
  font-size: 33px;
  line-height: 43px;
  margin-bottom: 30px;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img .red-ornament .ornament-img .yellow-ornament .green-ornament .title .desc {
  font-family: Fira Sans, sans-serif;
  color: grey;
  font-size: 14px;
  max-width: 400px;
  line-height: 24px;
  margin-bottom: 30px;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img .red-ornament .ornament-img .yellow-ornament .green-ornament .title .desc p :last-child {
  margin-bottom: 0;
}
.home-section-3-parent .inner-container .column-container .right .left .image-container .image .blue-ornament .ornament .ornament-img .red-ornament .ornament-img .yellow-ornament .green-ornament .title .desc p :last-child .entry-btn {
  background-color: #105fda;
  color: #fff;
  width: 176px;
  padding: 17px 0;
  font-size: 12px;
  font-family: Fira Sans, sans-serif;
  line-height: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-section-4-outer-container {
  width: 100%;
}

.home-section-4-parent {
  width: 100%;
  padding: 70px 60px;
}
.home-section-4-parent .inner-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
.home-section-4-parent .inner-container .title {
  text-align: center;
  font-family: Fira Sans, sans-serif;
  font-size: 33px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #000;
}
.home-section-4-parent .inner-container .title .desc {
  font-family: Fira Sans, sans-serif;
  font-size: 14px;
  color: #646464;
}
.home-section-4-parent .inner-container .title .desc .company-logo-container {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 100%;
}
.home-section-4-parent .inner-container .title .desc .company-logo-container .partner-logo {
  width: 80px;
}
.home-section-4-parent .inner-container .title .desc .company-logo-container .partner-logo .separator {
  width: 100%;
  height: 1px;
  background-color: #dedede;
}
.home-section-4-parent .inner-container .title .desc .company-logo-container .partner-logo .separator .try-demo-parent {
  height: 100vh;
  padding: 0 25px;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.footer-parent {
  background-color: #15183a;
  width: 100%;
}
.footer-parent .inner-container {
  max-width: 1280px;
  padding: 90px 150px 50px;
  margin: 0 auto;
}
.footer-parent .inner-container .top-container {
  display: flex;
  padding-bottom: 100px;
}
.footer-parent .inner-container .top-container .column-one {
  width: 60%;
}
.footer-parent .inner-container .top-container .column-two {
  width: 20%;
  display: flex;
}
.footer-parent .inner-container .top-container .column-left {
  width: 100%;
}
.footer-parent .inner-container .top-container .column-left .inner-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
.footer-parent .inner-container .top-container .column-left .inner-container .link-title {
  color: #fff;
  font-size: 13px;
  font-family: Fira Sans, sans-serif;
  font-weight: 400;
  margin: 0;
}
.footer-parent .inner-container .top-container .column-left .inner-container .link-title .link-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}
.footer-parent .inner-container .top-container .column-left .inner-container .link-title .link-container .title {
  font-family: Fira Sans, sans-serif;
  font-size: 33px;
  font-weight: 500;
  margin: 0;
  line-height: 43px;
  color: #000;
  max-width: 550px;
  text-align: center;
}

/*.ornament.blue-ornament-left {
    top: 50%;
    left: 5%;
}

ornament.red-ornament-left {
    left: 13%;
}

.ornament.yellow-ornament-left {
    left: 18%;
    top: 18%;
}

ornament.green-ornament-left {
    left: 7%;
    top: 55%;
}

.ornament.blue-ornament-right {
    top: 20%;
    right: -1%;
}

.ornament.red-ornament-right {
    top: 25%;
    right: 6%;
}

.ornament.yellow-ornament-right {
    top: 60%;
    right: 16%;
}

.ornament.green-ornament-right {
    right: 18%;
    top: 20%;
}  */
.partner-logo {
  width: 120px;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

.spots-logo {
  height: 29px;
  margin-bottom: 30px;
}

.column-left {
  width: 100%;
}

.link-title {
  color: #fff;
  font-size: 13px;
  font-family: Fira Sans, sans-serif;
  font-weight: 400;
  margin: 0;
}

.link-container {
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}

.link-container a {
  font-family: Fira Sans, sans-serif;
  font-weight: 500;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.column-container.column-three {
  -ms-align-self: flex-start;
  align-self: flex-start;
}

.link-title {
  color: #fff;
  font-size: 13px;
  font-family: Fira Sans, sans-serif;
  font-weight: 400;
  margin: 0;
}

.link-title {
  margin-top: 25px;
}

.socmed-link-container {
  width: 100%;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-top: 15px;
}

.socmed-link-container a {
  margin-right: 30px;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

.socmed-link-container img {
  margin-bottom: 0;
  transition: all 0.3s ease;
}

img {
  padding: 0;
  margin: 0;
}

img {
  border-style: none;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

.bottom-end-container {
  padding-top: 30px;
  display: flex;
  width: 100%;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.link-container {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.gojek-tag {
  margin-right: 45px;
}

.part-text-logo {
  font-family: Fira Sans, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.ext-link {
  display: inline-block;
  vertical-align: middle;
}

.gojek-tag img {
  margin: 5px 0 0;
  height: 20.8px;
}

.text-link-container {
  display: flex;
}

.text-link-container a {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 30px;
  font-weight: 500;
}

.bottom-end-container p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;
  font-family: Fira Sans, sans-serif;
}/*# sourceMappingURL=style.css.map */